body {
  padding: 20px; }

.key {
  width: 160px;
  border: 1px solid grey;
  padding: 0px 10px 10px 10px; }

.box, .box-success, .box-danger, .box-warning, .box-info {
  width: 100%;
  min-height: 37px;
  padding: 8px;
  line-height: 1.42857143;
  border-top: 1px solid #ddd;
  vertical-align: top;
  box-sizing: border-box; }

.box-success {
  background-color: #5cb85c; }

.box-danger {
  background-color: #d9534f; }

.box-warning {
  background-color: #f0ad4e; }

.box-info {
  background-color: #5bc0de; }

.keytext {
  display: none; }
