.wrapper {
    padding: 20px;
}

.key {
 width: 100px;
 border: 1px solid grey;
 padding: 0px 10px 10px 10px;
}

.matrix {

}

.table>tbody>tr>td.success {
  background-color: #58B358;
}

.table>tbody>tr>td.danger {
  background-color: #c12e2a;
}

.table>tbody>tr>td.warning {
 background-color: #EEA338;
}
