@import 'variable';
@import 'typography';


.site-header {
      border-bottom: 1px solid rgb(204, 204, 204);
      width: 100%;
      padding: 7px;
      h1 {
      display: inline-block;
      }
      img {
        float: right;
        display: inline;
        margin: 5px;
      }
}

.key {
 width: 160px;
 border: 1px solid grey;
 padding: 0px 10px 10px 10px;
 margin-top: 10px;

}


.box{
  width: 100%;
  min-height:37px;
  padding:8px;
  line-height: 1.42857143;
  border-top: 1px solid #ddd;
  vertical-align: top;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }
}

.active {
box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12), 0 2px 8px rgba(0, 0, 0, 0.24);
transform-style: preserve-3d;
width: 105%;
margin-left: -5px;
}

.box-success{
  @extend .box;
  background-color: $green;
}

.box-danger{
  @extend .box;
  background-color: $red;
  a {
    text-decoration: none;
    color: #333;
    pointer-events: none;
  }
}

.box-warning{
  @extend .box;
  background-color: $orange;
}

.box-info {
  @extend .box;
  background-color: $blue;
}

.keytext {
display: none;
}


//footer

* {
  margin: 0;
}
html, body {
  height: 100%;

}
.page-wrap {
  min-height:90%;
  /* equal to footer height */
  margin-bottom: -50px;
  padding: 20px;
}
.page-wrap:after {
  content: "";
  display: block;
}

.page-wrap > p {
   margin: 1em; 
}

.disclaimer > p {
   margin: 1em; 
}

.site-footer {
    background: #F5F5F5;
    box-shadow: 2px 2px 4px 5px #ccc;
    text-align: center;
}

.site-footer, .page-wrap:after {
  height: 55px;
  padding: 5px;
}

//end footer
