@import 'variable';


.key {
 width: 160px;
 border: 1px solid grey;
 padding: 0px 10px 10px 10px;
 margin-top: 10px;

}


.box{
  width: 100%;
  min-height:37px;
  padding:8px;
  line-height: 1.42857143;
  border-top: 1px solid #ddd;
  vertical-align: top;
  box-sizing: border-box;

  &:hover {
    color : white;
    cursor: pointer;
  }
}



.box-success{
  @extend .box;
  background-color: $green;
}

.box-danger{
  @extend .box;
  background-color: $red;
}

.box-warning{
  @extend .box;
  background-color: $orange;
}

.box-info {
  @extend .box;
  background-color: $blue;
}

.keytext {
display: none;
}

//footer

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -50px;
  padding: 20px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 50px;
  padding: 5px;
}
.site-footer {
  background: grey;
}

//end footer
